<h1>{{'emails.login.welcome' | trans({'%username%': username})}}</h1>
<p>{{'emails.login.text1' | trans}}:</p>
<p><a href="{{link}}">{{'emails.login.link' | trans}}</a></p>
<p>{{'emails.login.warning' | trans}}</p>
