<h1>{{'emails.registered.welcome' | trans({'%username%': username})}}</h1>
<p>{{'emails.registered.text1' | trans}}</p>
<p><a href="{{link}}">{{'emails.registered.link' | trans}}</a></p>
<p>{{'emails.registered.warning' | trans}}</p>
